<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <h1><%= current_user.username %></h1>
      <form action="<%= sessions_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Get out of here">
      </form>
    <% else %>
      <a href="<%= new_user_url %>">Join Us</a>
      <a href="<%= new_sessions_url %>">Get back in here</a>
    <% end %>
    <%= yield %>
  </body>
</html>